@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Body */
body {
  background-color: #ffffff;
  color: #ed270e;
  margin: 0%;
}

h1 {
  font-family: "Inter", sans-serif;
}

/* MENU */
.menu {
  width: 100%;
  height: 7rem;
  padding: 3rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  color: #000000;
}

.menu a {
  text-decoration: none;
  color: #ed270e;
  font-size: 1.1rem;
  font-weight: 300;
  transition: 0.2s;
}

.menu a:hover {
  font-weight: 700;
}

/* INTRO */
.intro {
  margin: 3rem 4rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  max-width: 40rem;
}

/* CONTENEDOR */
.carousel {
  width: 100%;
  height: 60vh; /* mitad inferior */
  position: fixed; /* se queda fijo en la parte inferior */
  bottom: 0;
  left: 0;
  overflow: visible;
}

/* TODAS LAS IMÁGENES ENCIMA UNA DE OTRA */
.slides img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none; /* ocultas por defecto */
}

.slides img.active {
  display: block; /* solo la activa se ve */
}

/* BLOQUE TOKIO + KANJIS ENCIMA */
.overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: end;
  pointer-events: none; /* no bloquea clics */
}

.kanjis {
  position: relative;
  bottom: 5rem; /* sobresale hacia arriba */
  display: flex;
  flex-direction: column;
  font-size: 160px;
  color: #ed270e;
  font-weight: bold;
  line-height: 0.9;
}

.kanjis-group {
  display: flex;
  align-items: end;
}

.tokio-title {
  position: relative;
  font-size: 220px;
  font-weight: 900;
  color: #ed270e;
  margin: 3.5rem 0;
}
.kanjis span {
  margin-bottom: 20px;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 8rem;
  font-weight: 700;
  margin: 0rem 4rem;
}

.description {
  font-size: 1rem;
  font-weight: 300;
  margin: 0rem 4rem 3rem 4rem;
  max-width: 50rem;
  line-height: 1.6;
}
#accordion {
  width: 100vw;
}
h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 550;
  margin-bottom: 1.8rem;
  margin-left: 4rem;
}

.places {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* alinea a la izquierda */
  justify-content: flex-start; /* alinea arriba */
  margin-left: 4rem;
  gap: 4rem;
}

.lugar {
  gap: 4rem;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: row;
}

h4 {
  font-size: 1.3rem;
  font-weight: 200;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

.content {
  max-width: 36rem;
  margin-top: 0.2rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
}

.place-image {
  max-width: 22rem;
}

@media (max-width: 1023px) {
  .overlay {
    flex-direction: column;
  }
}
