@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

/* Body */
body {
  background-color: #ffffff;
  color: #ed270e;
  margin: 0%;
}

/* MENU */
.menu {
  width: 100%;
  height: 7rem;
  padding: 3rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  color: #000000;
}

.menu a {
  text-decoration: none;
  color: #ed270e;
  transition: 0.2s;
}

.menu a:hover {
  opacity: 0.6;
}

/* INTRO */
.intro {
  margin: 3rem 4rem;
  font-size: 16px;
  line-height: 1.6;
  max-width: 30rem;
}

/* CONTENEDOR */
.carousel {
  width: 100%;
  height: 60vh; /* mitad inferior */
  position: fixed; /* se queda fijo en la parte inferior */
  bottom: 0;
  left: 0;
  overflow: visible;
}

/* TODAS LAS IMÁGENES ENCIMA UNA DE OTRA */
.slides img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none; /* ocultas por defecto */
}

.slides img.active {
  display: block; /* solo la activa se ve */
}

/* BLOQUE TOKIO + KANJIS ENCIMA */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  pointer-events: none; /* no bloquea clics */
}

.kanjis {
  position: absolute;
  bottom: 5rem; /* sobresale hacia arriba */
  display: flex;
  flex-direction: column;
  font-size: 160px;
  color: #ed270e;
  font-weight: bold;
  line-height: 0.9;
  z-index: 3;
}

.kanjis span {
  margin-bottom: 20px;
}

.kanjis.izquierda {
  right: 16rem;
}

/* Posición derecha */
.kanjis.derecha {
  right: 3rem;
}

.tokio-title {
  font-size: 220px;
  font-weight: 900;
  color: #ed270e;
  margin: 0;
  padding-left: 40px;
  z-index: 2;
}
